.cursor {
  display: block;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 9999;
  border: 1px solid #fff;
  transition: width 0.2s, height 0.2s, background-color 0.2s;
  animation: moveCursor1 0.5s infinite alternate;
  will-change: transform;
}

.expand {
  background: transparent;
  animation: moveCursor2 0.5s forwards;
  border: 1px solid yellow;
}

@keyframes moveCursor1 {
  from {
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes moveCursor2 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(2.5);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
